<div class="container">
  <h1>Hero Form</h1>
  <form #regForm="ngForm">
    <div class="form-group">
      <label for="card">Номер карты</label>
      <input type="text" class="form-control" id="card" required
             [(ngModel)]="model.card" name="card">
    </div>



    <div class="form-group">
      <label for="surname">Фамиля</label>
      <input type="text" class="form-control" id="surname" required
             [(ngModel)]="model.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" class="form-control"  id="name" required
             [(ngModel)]="model.name" name="name">
      TODO: remove this: {{model.name}}
    </div>

    <div class="form-group">
      <label for="patronymic">Отчество</label>
      <input type="text" class="form-control" id="patronymic"
             [(ngModel)]="model.patronymic" name="patronymic">
    </div>


    <div class="form-group">
      <label for="gender">Hero Power</label>
      <select class="form-control" id="gender" required
              [(ngModel)]="model.gender" name="gender">
        <option *ngFor="let gen of genders; let i=index" [value]="i">{{gen}}</option>
      </select>
      TODO: remove this: {{model.gender}}
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
